<form action="{% url 'fridgelookup:update' fridge.id %}" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }} 
    </ul>
    <input type="submit" value="Add Ingredient">
</form>

{% if ingredients %}
    <ul>
    {% for i in ingredients %}
        <li>{{ i }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No ingredients are available.</p>
{% endif %}

<!--<li><a href="/fridgelookup/{{ fridge.id }}/results">results</a></li> 
<li><a href="{% url 'fridgelookup:results' fridge.id %}"></a>results</li>-->

<form action ="{% url 'fridgelookup:results' fridge.id %}" method="get">
    {% csrf_token %}
    <input type="submit" value="View Available Recipes">
</form>