<h1>{{ fridge.fridge_name }}</h1>
<ul>
{% for ing in fridge.ingredient_set.all %}
    <li>{{ ing.ing_name }}</li>
{% endfor %}
</ul>





<form action="{% url 'fridgelookup:update' fridge.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ fridge.fridge_name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
        <input type="text" />
        
    </fieldset>
    <input type="submit" value="Add Ingredient">
    </form>