<h1>{{ fridge.fridge_name }}</h1>
<ul>
{% for ing in fridge.ingredient_set.all %}
    <li>{{ ing.ing_name }}</li>
{% endfor %}
</ul>





<form action="{% url 'fridgelookup:update' fridge.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ fridge.fridge_name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        #{% for choice in question.choice_set.all %}
        #    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        #    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        #{% endfor %}
        
    </fieldset>
    <input type="submit" value="Update">
    </form>